{{define "add"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head" "Add a block"}}
  <body>
    {{template "header" "Add a block"}}
    <main>
      <form method="post" action="/add">
        <input type="text" placeholder="data for your block" required name="blockData" />
        <button>Add Block</button>
      </form>
    </main>
  </body>
{{template "footer"}}
</html>
{{end}}
